* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --font-size: 22px;
}

html {
    scroll-behavior: smooth;
    height: 100%;
    /* font-family: ; */
}

@font-face {
    font-family: 'Pacifico';
    src: url('../font-family/Pacifico/Pacifico-Regular.ttf');
    /* you can include multiple font formats to ensure cross-browser compatibility */
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-image: url("../image/Thiết\ kế\ chưa\ có\ tên.png");
    background-size: cover;
    background-position: center;
}

#login-display {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#login {
    width: 330px;
    height: 150px;
    background-color: #fff;
    border: #aad6c4 solid 5px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#username-text {
    color:#41594f;
    font-size: 17px;
}

#login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-form > div > input {
    padding: 2px;
}

#login-btn {
    color: #000;
    width: 70px;
    height: 30px;
    border: #5d7c6f solid 2px;
    border-radius: 10px;
    font-weight: 600;
    background-color: #d6fced;
    margin-top: 10px;
}

#login-btn:hover {
    cursor: pointer;
    opacity: 0.8;
}

#main {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    flex-direction: column;
    /* flex: 1; */
    height: 100vh;
    width: 100vw;
}

.ml-7 {
    margin-left: -7px;
}

#nav {
    display: flex;
    flex: 1.5;
    justify-content: center;
    align-items: center;
    font-size: calc(var(--font-size) * 1.6);
    letter-spacing: 5px;
    font-weight: 700;
    color: #5d7c6f;
    animation: FadeInScroll 3s ease forwards;
}

#content {
    display: flex;
    flex: 7.5;
}

#main-image {
    display: flex;
    flex: 45;
    justify-content: center;
    /* flex-direction: column; */
    align-items: center;
}

.box {
    display: flex;
    margin-top: 12px;
    width: 90%;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    animation: FadeIn 3s 1.5s ease forwards,
                Beat 2s ease infinite;
}

@keyframes Beat {
    0% {
        width: 90%;
    } 30% {
        width: 89.5%;
    } 60% {
        width: 90.5%;
    } 100% {
        width: 90%;
    }
}

@keyframes FadeIn {
    from {
        transform: translateX(-50%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.box-header {
    display: flex;
    width: 100%;
    border: #000 solid 2px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    /* justify-content: center; */
    /* align-items: center; */
    /* animation: Beat 2s ease infinite; */
}

.search-btn {
    flex: 1;
    margin-left: 20px;
    padding: 22px 0;
    font-size: calc(var(--font-size) / 1.3);
    /* line-height: 20px; */
}

.search-btn:hover, .close-btn:hover {
    opacity: 0.5;
}

.box-name {
    display: flex;
    flex: 10;
    padding: 19px 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: var(--font-size);
    color: #5d7c6f;
    justify-content: center;
}

.close-btn {
    display: flex;
    flex: 1;
    flex-direction: row-reverse;
    margin-right: 20px;
    padding: 22px 0;
    font-size: calc(var(--font-size) / 1.3);
}

.box-image {
    width: 100%;
    /* height: 75%; */
    padding: 15px;
    border: #000 solid 2px;
    border-top: none;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

#main-content {
    /* margin-top: 44px; */
    display: flex;
    flex: 55;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.invite {
    /* margin-top: -60px; */
    /* margin-bottom: 30px; */

    font-size: var(--font-size);
    letter-spacing: 0.7px;
    color: #77a290;
    opacity: 0;
    animation: FadeInScroll 3s 1.5s ease forwards;

}

.box-name-container {
    width: 650px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-yearbook {
    font-family: 'Pacifico';
    font-size: calc(var(--font-size) * 2.5);
    /* margin-top: 10px; */
    color: #5d7c6f;
    opacity: 0;
    animation: FadeInScroll 3s 3s ease forwards;
}

.my-yearbook:hover {
    font-size: calc(var(--font-size) * 2.55);
}

@keyframes FadeInScroll {
    from {
        transform: translateX(-50%);
        transform: translateY(-100px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        transform: translateY(0);
        opacity: 1;
    }
}

.yearbook-time {
    display: flex;
    justify-content: space-around;
    font-size: var(--font-size);
    margin-top: 30px;
    width: 60%;
    font-weight: 700;
    color: #5d7c6f;
    
}

.day {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    border-right: #5d7c6f double 3px;
    opacity: 0;

    animation: FadeInScroll 3s 4.5s ease forwards;
}

.date {
    display: flex;
    flex-direction: column;
    flex: 1;
    opacity: 0;
    align-items: center;
    animation: FadeInScroll 3s 6s ease forwards;

}

.date .bigger {
    font-size: calc(var(--font-size) * 2);
}

.time {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    opacity: 0;
    border-left: #5d7c6f double 3px;
    animation: FadeInScroll 3s 4.5s ease forwards;

}

.location {
    margin-top: 32px;
    /* margin-bottom: 30px; */

    font-size: var(--font-size);
    letter-spacing: 0.7px;
    color: #77a290;
    opacity: 0;
    animation: FadeInScroll 3s 7.5s ease forwards;
    
}

.footer {
    display: flex;
    flex: 1;
    /* margin-top: 54px; */
    font-size: calc(var(--font-size) / 1.2);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    opacity: 0;
    animation: FadeInScroll 3s 10.5s ease forwards;
    color:#5d7c6f;
    justify-content: center;
}

.message-and-info {
    display: flex;
    margin-top: 16px;
    flex-direction: row;
}

.message, .info {
    margin: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    animation: FadeInScroll 3s 9s ease forwards;

}

.message:hover > div > i, .info:hover > i {
    /* font-size: calc(var(--font-size) * 1.6); */
    opacity: 0.7;
    cursor: pointer;
}

.mail {
    font-size: calc(var(--font-size) * 1.5);
    color: #41594f;
    padding: 15px;
    background-color: #aad6c4;
    border-radius: 50%;
}

.noti {
    --noti-size: 13px;
    /* display: flex; */
    margin-left: -15px;
    margin-top: -3px;
    font-size: var(--noti-size);
    height: calc(var(--noti-size) + 9px);
    /* border: #5d7c6f solid 1px; */
    border-radius: 50%;
    padding: 4px 8px 0;
    background-color: red;
    color: #fff;
}

#message-subtitle {
    font-size: 11px;
    color: #41594f;
    margin-top: 2px;
}

#modal {
    display: none;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    
}

.modal-container {
    display: flex;
    /* flex: 1; */
    width: 750px;
    height: 400px;
    background-color: #fff;
    border-radius: 15px;
    border: #5d7c6f solid 5px;
    animation: FadeInScroll 1s ease;
}

.left-modal-container {
    flex: 8;
    display: flex;
    justify-content: center;
    align-items: center;
}

#message-box {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 93%;
    height: 90%;
    background-color: #d6fced;
    border: #5d7c6f solid 3px;
    border-radius: 15px;
    font-size: 17px;
    padding: 14px;
    line-height: 1.5;
    color: #41594f;
    overflow: auto;
}

.main-message {
    /* overflow: hidden; */
}

#info-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 93%;
    height: 90%;
    background-color: #d6fced;
    border: #5d7c6f solid 3px;
    border-radius: 15px;
    font-size: 17px;
    padding: 14px;
    line-height: 1.5;
    color: #41594f;
    overflow: auto;
}

.signature-container {
    display: flex;
    flex-direction: row-reverse;
}

.signature {
    display: flex;
    flex-direction: column;
}

.right-modal-container {
    display: flex;
    flex: 2;
    flex-direction: column;
    justify-content: space-between;
}

.modal-close-btn {
    display: flex;
    flex-direction: row-reverse;
    padding: 15px;
    font-size: 15px;
}

.modal-close-btn:hover {
    cursor: pointer;
    opacity: 0.7;
}

.laptop-container {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.laptop-image {
    width: 150px;
    margin: 10px;
}